
/* loginsection */

.recipesection {
    position: relative;
    width: 100%;
     
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.recipeinfo {
    text-align: center;
}

.recipeinfo h1 {
    font-family: var(--font-family);
    font-size: 42px;
    margin-bottom: 20px;
}

.recipeinfo p {
    margin-bottom: 2rem;
    font-size: 14px;
    font-weight: 600;
    color: inherit;
    text-align: center;
}

.recipeinfo form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.recipeinfo form label {
    font-size: 25px;
    margin-bottom: 10px;
    font-family: fantasy;
    color: #222;
    letter-spacing: 2px;
}

.recipeinfo button {
    position: relative;
    padding: 10px 40px;
    background-color: #e25959;
    font-family: var(--font-family);
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
}

.recipeinfo input {
    width: 100%;
    height: 100%;
   
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
}



.recipeinfo button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    z-index: -1;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

.recipeinfo button:hover::before {
    transform: scale(1);
}


.recipeinfo .input-group{
    width:100%;
}